@main-color:#C75872;
@tint-main-color:tint(@main-color,40%);
@font-size: 14px;
@font-size-small: 12px;
@font-size-large: 16px;
@danger-color: #cf1322;
@tint-danger-color:tint(@danger-color,20%);
@main-font-dark-color: #333;
@main-font-light-color: #fff;
//button
@border-color-focus: #C75872;
@border-color-hover: #777;
@border-color: #aaa;
@border-radius: 4px;
@box-shadow-color: rgba(0, 0, 0, 0.15);
@button-active-background: #f6f6f6;
@button-background: #fff;
@button-height: 32px;
@disabled-border-color: #ccc;
@input-height:32px;
@box-shadow:0 0 4px rgba(59, 59, 59, 0.15);